[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymc3 = "*"
numpy = "==1.19"
pandas = "*"
scipy = "*"
requests = "*"
boto3 = "*"
pytest = "*"
bayesbet = {editable = true, path = "."}

[requires]
python_version = "3.8"
