<!doctype html>
<html lang="en">
  {% include "header.html" %}
  {% load static %}
  <script src="{% static 'plots/game_outcome.js' %}"></script>

  <body>
    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" with date=prediction_date %}
         <div class="col-12 col-sm-12 col-md-9 col-lg-10 p-0">
          {% include "topbar.html" %}
          <main role="main" id="main" class="p-3">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Games Predicted as of {{prediction_date}}</h1>
            </div>
            {%for g in predicted_games%}
              <div class="game_link" >
                <a href="/game/{{g.game_pk}}/{{prediction_date}}/"><h5>{{g.game_date}} - {{g.away_team}} @ {{g.home_team}}</h5></a>
              </div>
              <div class="outcome-plot">
                <a href="/game/{{g.game_pk}}/{{prediction_date}}/">
                  {% include "plots/game_outcome.html" with game_pk=g.game_pk game_pred=g.game_pred home_abb=g.home_abb away_abb=g.away_abb home_color=g.home_color away_color=g.away_color %}
                </a>
              </div>
              <br>
            {% endfor %}
          </main>
        </div>
      </div>
    </div>
    {% include "footer_scripts.html" %}
  </body>
</html>
