<!doctype html>
<html lang="en">
  {% include "header.html" %}
  {% load staticfiles %}
  <script src="{% static 'plots/team_dist.js' %}"></script>

  <body>
    {% include "topbar.html" %}

    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" with date=prediction_date %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Team Comparison - Predicted on {{prediction_date}}</h1>
          </div>
          {% include "plots/team_dist.html" with date=prediction_date %}
        </main>
      </div>
    </div>
    {% include "footer_scripts.html" %}
  </body>
</html>
