<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap">
  <div class="container prediction-date-container col-10 col-sm-10 col-md-8 col-lg-5">
      <div class="form-group prediction-date-form-group ">
        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
          <div class="form-control-dark prediction-date">Prediction Date:</div>
          <input type="text" class="form-control datetimepicker-input col-8 col-sm-6 col-md-4" data-target="#datetimepicker"/>
          <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
            <div class="input-group-text"><i data-feather="calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-1 col-sm-1 supporting-links-group">
    <a href="https://github.com/evjrob/bayes-bet">
      <i class="supporting-links" data-feather="github"></i>
    </a>
  </div>
</nav>
