
<div id="team-dist"></div>
<style>
        path.link {
          fill: none;
          stroke: #666;
          stroke-width: 1.5px;
        }
        
        circle {
          fill: #ccc;
          stroke: #4b3666;
          stroke-width: 1.5px;
        }
        
        text {
          fill: #000;
          font: 10px sans-serif;
          pointer-events: none;
        }
        </style>
<script>
d3.json("http://127.0.0.1:8000/data/v1/teams/{{date}}", function(data) {
  var links = [];
  var nodes = [];

  data.forEach(function(d) {
    d.offence_median = +d.offence_median;
    d.offence_hpd_low = +d.offence_hpd_low;
    d.offence_hpd_high = +d.offence_hpd_high;
    d.defence_median = +d.defence_median;
    d.defence_hpd_low = +d.defence_hpd_low;
    d.defence_hpd_high = +d.defence_hpd_high;
  });
  var margin = {top: 10, right: 10, bottom: 60, left: 60};
  var full_width = 600;
  var full_height = 600;
  var width = full_width - margin.left - margin.right;
  var height = full_height - margin.top - margin.bottom;
  var radius = 13;

  var x_min = d3.min(data, function(d){return d.defence_median}) * 1.2;
  var x_max = d3.max(data, function(d){return d.defence_median}) * 1.2;
  var y_min = d3.min(data, function(d){return d.offence_median}) * 1.2;
  var y_max = d3.max(data, function(d){return d.offence_median}) * 1.2;

  var svg = d3.select("#team-dist")
  .append("svg")
    .attr("width", full_width)
    .attr("height", full_height)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

  // Add X axis
  var x = d3.scaleLinear()
    .range([ 0, width ])
    .domain([x_min, x_max]);
  svg.append("g")
    .attr("transform", "translate(0," + (height) + ")")
    .call(d3.axisBottom(x).tickValues([]));

  // Labels for the x axis
  svg.append("text")       
    .attr("y", height + margin.bottom/2)
    .attr("x", width/2)
    .style("text-anchor", "middle")
    .text("Defensive Strength")
    .style("font", "14px sans-serif");
  
  svg.append("text")       
    .attr("y", height + margin.bottom/4)
    .attr("x", 10)
    .style("text-anchor", "starts")
    .text("Weaker")
    .style("font", "10px sans-serif");

  svg.append("text")       
    .attr("y", height + margin.bottom/4)
    .attr("x", width - margin.right)
    .style("text-anchor", "end")
    .text("Stronger")
    .style("font", "10px sans-serif");


  // Add Y axis
  var y = d3.scaleLinear()
    .range([ height, 0 ])
    .domain([y_min, y_max]);
  svg.append("g")
    .call(d3.axisLeft(y).tickValues([]));

  // Labels for the y axis
  svg.append("text")       
    .attr("transform", "rotate(-90)")
    .attr("y", 0 - margin.left/2)
    .attr("x", 0 - height/2)
    .style("text-anchor", "middle")
    .text("Offensive Strength")
    .style("font", "14px sans-serif");
  
  svg.append("text")       
    .attr("transform", "rotate(-90)")
    .attr("y", -5)
    .attr("x", 0 - margin.top)
    .style("text-anchor", "end")
    .text("Stronger")
    .style("font", "10px sans-serif");

  svg.append("text")       
    .attr("transform", "rotate(-90)")
    .attr("y", -5)
    .attr("x", 0 - height + margin.top)
    .style("text-anchor", "start")
    .text("Weaker")
    .style("font", "10px sans-serif");

  data.forEach(function(d) {
    var point_node = {x:x(d.defence_median), y:y(d.offence_median),
                      team:d.team_abb};
    nodes.push(point_node);
  });


  var force = d3.forceSimulation()
    .nodes(d3.values(nodes))
    .force("collide", d3.forceCollide()
      .strength(1)
      .radius(radius + 1))
    .on("tick", tick);

  // define the nodes
  var node = svg.selectAll(".node")
      .data(force.nodes())
    .enter().append("g")
      .attr("class", "node");

  // create and area based scale for the radius of each node
  aScale = d3.scaleSqrt()
    .domain([0, d3.max(d3.values(nodes), function(d) {
      return d.weight;
    })])
    .range([1, 10]);

  // create color scale based on degree of node
  colorScale = d3.scaleLinear()
    .domain([0, d3.max(d3.values(nodes), function(d) {
      return d.weight;
    })])
    .interpolate(d3.interpolateHcl)
    .range([d3.rgb("#FFFFFF"), d3.rgb('#000099')]);

  // add the nodes
  node.append("circle")
    .attr("r", radius)         
    .style("fill", "#7d59a8");

  // add node labels
  node.append("text")
    .style("font-size", "8px")
    .style("fill", "white")
    .style("font-weight", "bold")
    .style("text-anchor", "middle")
    .style("dominant-baseline", "central")
    .text(function(d) { return d.team });

  // add the curvy lines
  function tick() {
    node.attr("transform", function(d) {
      return "translate(" + d.x + "," + d.y + ")"; 
    })
  };
});
</script>