<!doctype html>
<html lang="en">
  {% include "header.html" %}
  {% load staticfiles %}
  <script src="{% static 'plots/goal_dist.js' %}"></script>
  <script src="{% static 'plots/game_outcome.js' %}"></script>

  <body>
    {% include "topbar.html" %}

    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" with date=prediction_date %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{game_detail.away_team.team_name}} @ {{game_detail.home_team.team_name}} {{game_detail.game_date}} - Predicted on {{prediction_date}}</h1>
          </div>
          {% include "plots/game_outcome.html" with game_pk=game_pk date=prediction_date home_abb=home_abb away_abb=away_abb %}
          <br>
          {% include "plots/goal_dist.html" with game_pk=game_pk date=prediction_date home_abb=home_abb away_abb=away_abb %}
        </main>
      </div>
    </div>
    {% include "footer_scripts.html" %}
  </body>
</html>
