<!doctype html>
<html lang="en">
  {% include "header.html" %}

  <body>
    {% include "topbar.html" %}

    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" with date=prediction_date %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Team Comparison</h1>
          </div>
        </main>
      </div>
    </div>
    {% include "footer_scripts.html" %}
  </body>
</html>
