[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
boto3 = "==1.29.2"
botocore = "==1.32.2"
django = "==4.2.7"
django-cors-headers = "==4.3.1"
django-s3-storage = "==0.15.0"
docutils = "==0.20.1"
gunicorn = "==21.0.1"
jmespath = "==1.0.1"
python-dateutil = "==2.8.2"
pytz = "==2023.3.post1"
s3transfer = ">=0.7.0"
six = "==1.16.0"
sqlparse = "==0.4.4"
urllib3 = ">=2.0.7"
zappa = "==0.58.0"
werkzeug = "==2.3.8"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.11"
