<!-- Create a div where the graph will take place -->
<div id="game-outcome-{{game_pk}}"></div>

<script>
// Plot the data after extracting the game predictions
(function(){
  function unescapeHTML(text) {
    return text.replace(/&#x27;/g, '"')
  }
  data = JSON.parse(unescapeHTML('{{game_pred}}'));
  away_colors = JSON.parse(unescapeHTML("{{away_color}}"));
  home_colors = JSON.parse(unescapeHTML("{{home_color}}"));
  plot_game_outcome(data, "#game-outcome-{{game_pk}}", "{{home_abb}}", home_colors, "{{away_abb}}", away_colors);
})();
</script>